<div id="market-quote-mobile">
    <div id="market-quote-banner">
        <img src="images/secondEdition/title.jpg" style="height: 91px;width: 100%">
    </div>
    <div id="market-quote-top-mobile">

        <div id="market-quote-inbox" ng-repeat="item in dataItems">
            <div class="mqi-name-mobile">{{item.title}}</div>
            <div class="mqi-block-mobile">{{item.total}}</div>
            <div class="mqi-block-mobile">{{item.totalFloatingPoint}}</div>
            <div class="mqi-block-mobile">{{item.currentFloatingPoint}}</div>
        </div>

    </div>

</div>