<link rel="stylesheet" href="styles/register.css">
<div class="main-content" ng-controller="ActiveEmailController">
    <div class="content">
        <div class="center-el">
            <div class="logo-ok"><img src="images/big_ok.png"></div>

            <div class="active-info">恭喜您，账号“{{userEmail}}”已激活，您可以</div>
            <!-- div ><input type="button" value="完善资料" class="btn-white" ng-click="updateUserInfo()"></div-->
            <div class="btn-split-height"><input type="button" value="登录" class="btn-green" ng-click="login()"></div>
        </div>
    </div>
</div>