<link rel="stylesheet" href="../styles/register.css">
<div class="container" style="margin-top: 120px;margin-bottom: 100px">
    <div class="main-content">
        <div class="title">
            <label class="skipLabel"> </label>
        </div>
        <div class="content">
            <div class="menuTab">
                <ul>
                    <li class="current-tab">联系我们</li>
                </ul>
            </div>
            <div class="form-content">
                <ul>
                    <li>
                        电话：+86（0755）86332133
                    </li>
                    <br>
                    <li>
                        邮箱：service@gelonghui.com
                    </li>
                    <br>
                    <li>
                        微信公众号：“港股那点事”（hkstocks）、“格隆汇”（hkguruclub）
                    </li>
                    <br>
                    <li>
                        新浪官方微博：@格隆汇
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>