<search-box-float></search-box-float>
<text-editor></text-editor>
<text-editor-beta></text-editor-beta>
<upload-pdf></upload-pdf>

<script>
	$(document).ready(function(){
	        $(window).scroll(function () {
	            var srcollTopValue = $(window).scrollTop();
	            if(srcollTopValue >= 142){
	                $(".naviWhite").addClass("navbar-fixed-top");
	                $(".naviWhite").css("margin-top","80px");
	                $(".pageHeader-gl").css("margin-top","138px");
	                $(".naviWhite").addClass("shadow_navi");
	                //页面主页元素下移填充充导航fixed定位之后的占位，最大宽度下居然不对
	                if( $(".media_container").width()<1518){
	                    $(".media_container").css("margin-top","129px");
	                }
	                }else{
	                $(".naviWhite").removeClass("navbar-fixed-top");
	                $(".naviWhite").css("margin-top","62px");
	                $(".pageHeader-gl").css("margin-top","10px");
	                $(".naviWhite").removeClass("shadow_navi");
	                $(".media_container").css("margin-top","0px");
	            }
	        });
	    });
</script>

<!--
1920 1496 1620
 504 1008 1512
-->

<div class="container-fluid " style="background-color: #f2f2f2;">

	<!--我是app引导-->
	<div class="row" style="margin-top: 0px; padding-top: 60px; height: 224px; text-align: center; z-index: 0; position: absolute; width: 100%">
		<img alt="" src="images/secondEdition/bg2.png" style="width: 100%; height: 160px;">
	</div>
	<div style="position: relative; text-align: center; padding-top: 64px; width: 400px; height: 160px; margin-left: auto; margin-right: auto;">
		<div class="ad">格隆汇 16亿中国人的海外投资社交平台</div>
		<button type="button" class="btn btn-default clarity-ios" ng-click="appDownloadIos()">
			<a>iOS版APP下载</a>
		</button>
		<button type="button" class="btn btn-default clarity"  ng-click="appDownload()">
			&nbsp;&nbsp;<a>安卓版下载<a>&nbsp;&nbsp;&nbsp;
		</button>
	</div>

	<!--我是栏目导航-->
	<div class="row naviWhite" style="margin-top: 62px">
		<div class="naviWhite-gl navi-li visible-gl-inline-block">
			<div id="naviUl">
				<ul>
					<li ng-repeat="columnItem in navColumns"
						ng-class="{columnSelect:columnItem.columnCode==columnCode}">
						<a data-btn="{{columnItem.columnCode}}"  ng-click="chooseColumn(columnItem.columnCode)">{{columnItem.columnName}}</a>
					</li>
					<!--<li ng-class="{columnSelect:columnCode=='all'}"><a ng-click="chooseColumn('all')" >全部</a></li>-->
				</ul>
		</div>
		<div id="naviRight">
			<div style="float: left; margin-right: 36px;">
				<!-- <input type="text" id="dropdown-search" style="height: 34px;width: 218px"
	                           autocomplete="off"class="form-control" placeholder="搜索 文章/股票/用户"/> -->
				<div search-box></div>
			</div>
			<div class="dropdown i-want">
				<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
					<span><img style="height: 80%; padding-left: 24px;"
								src="images/secondEdition/NAVicon_Write_2.png"></span> <span style="padding-top: 0px;">&nbsp;我要发表</span>
				</button>
	
				<ul class="dropdown-menu i-want-post" aria-labelledby="dropdownMenu1">
					<li><a  class="bb-add" ng-click="showShortMsg()">哔哔一下</a></li>
					<li><a  class="article-add" ng-click="showTextEditor()">发表文章</a></li>
					<li><a  class="upload-pdf" ng-click="showUploadPdf()">上传PDF</a></li>
				</ul>
			</div>
		</div>
	</div>

<div class="naviWhite-ml navi-li visible-ml-inline-block">
	<div id="naviUl">
		<ul>
			<li ng-repeat="columnItem in navColumns" ng-class="{columnSelect:columnItem.columnCode==columnCode}">
				 <a data-btn="{{columnItem.columnCode}}" ng-click="chooseColumn(columnItem.columnCode)">{{columnItem.columnName}}</a>
			</li>
			<!--<li ng-class="{columnSelect:columnCode=='all'}"><a ng-click="chooseColumn('all')" >全部</a></li>-->
		</ul>
	</div>
	<div id="naviRight">
		<div style="float: left; margin-right: 36px;">
			<!--<input type="text" id="dropdown-search" style="height: 34px;width: 218px"
                           autocomplete="off"class="form-control" placeholder="搜索 文章/股票/用户"/>-->
			<div search-box></div>
		</div>
		<div class="dropdown i-want">
			<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" style="background-color: #22aee6; border: 0px red solid; padding-top: 5px; height: 34px; padding-left: 0px; padding-right: 28px; width: 136px">
				<span><img style="height: 80%; padding-left: 24px;"
							src="images/secondEdition/NAVicon_Write_2.png"></span> <span style="padding-top: 0px;">&nbsp;我要发表</span>

			</button>
			<ul class="dropdown-menu i-want-post" aria-labelledby="dropdownMenu1">
				<li><a ng-click="showShortMsg()">哔哔一下</a></li>
				<li><a ng-click="showTextEditor()">发表文章</a></li>
				<li><a ng-click="showUploadPdf()">上传PDF</a></li>
			</ul>
		</div>

	</div>
</div>

<div class="naviWhite-sl visible-sl-inline-block" style="width: 488px; margin-left: -16px; padding-right: 0px">
	<nav class="navbar-default" style="border: none">
		<div style="padding-left: 0px; padding-right: 0px; width: inherit; margin-left: -0px;">
			<button type="button" ng-click="appSpread()" class="navbar-toggle visible-sl-inline-block" style="float: left;">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<div id="naviRight">
				<div style="float: left; margin-right: 36px;">
					<!-- <input type="text" id="dropdown-search" style="height: 34px;width: 218px"
                                   autocomplete="off"class="form-control" placeholder="搜索 文章/股票/用户"/> -->
					<div search-box></div>
				</div>
			</div>
		</div>
		<div id="naviUl" style="position: relative; z-index: 100; display: none;" ng-class="{appDisplay:appSpreadFlag==true}">
			<ul>
				<li ng-repeat="columnItem in navColumns" ng-class="{columnSelect:columnItem.columnName==columnCode}">
					<a ng-click="chooseAppColumn(columnItem.columnCode)">{{columnItem.columnName}}</a>
				</li>
				<li ng-class="{columnSelect:columnCode=='all'}"><a ng-click="chooseAppColumn('all')">全部</a></li>
			</ul>
		</div>

	</nav>

</div>
</div>

<!--我是主内容页-->
<div class="row media_container ">

	<!--我是内容页-->
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
		<main class="inline-block-center" style="position:relative">
			<!--我是分页头-->
			<!--<tm-pagination-sl conf="topicPaginationConf"></tm-pagination-sl>
                <tm-pagination-ml conf="topicPaginationConf"></tm-pagination-ml>-->
			<div class="pageHeader-gl  visible-gl-inline-block">
				<tm-pagination-gl conf="topicPaginationConf"></tm-pagination-gl>
			</div>
			<div class="visible-ml-inline-block" style="height: 28px; width: 100%; background-color: #f2f2f2"></div>
			<!--
                <div class="pageHeader-sl  visible-sl-inline-block" >
                    <tm-pagination-gl conf="topicPaginationConf"></tm-pagination-gl>
                </div>-->
			<!--<div style="clear: both"/>-->
         
         <!--
            
            	描述：新的幻灯片暂时注释掉
            <div class=" slider">
				<img ng-src="images/secondEdition/welcome.jpg" style="width: 488px; height: 310px;" src="images/secondEdition/welcome.jpg">
			</div>
           
            -->
           
               
			<div class="slider">
				<div class="swiper-container">

					<div class="swiper-wrapper">
						<div class="swiper-slide" ng-repeat="slide in slideList">
							<div class="imgs-box"><a ng-href="{{slide.linkUrl}}"><img ng-src="{{ slide.picUrl }}" alt="{{slide.title}}" /></a>
							<a ng-href="{{slide.linkUrl}}"><div class="ggt">{{slide.ggt}}</div><div class="hgt">{{slide.hgt}}</div></a>
							</div>
							<div  class="titles" ng-if="slide.title==null || ''" style="display: none;"  >
							<div class="title-text">{{slide.title}}</div>	<a class="a-more" href="{{slide.linkUrl}}">查看详情</a>
							</div>
						</div>

					</div>
					
					<div class="swiper-pagination"></div>
					
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</div>
             
			<div ng-repeat="article in topicList track by $index">
				<div id="text-container">
					<div id="text-block" style="margin-right: 16px">
						<div id="text-block-banner">
							<a href="/p/{{article.postId}}.html" target="_blank"><img style="width: 236px; height: 100px;" ng-src="{{article.imgSrc}}" /></a>
						</div>
						<div id="text-block-title">
							<a href="/p/{{article.postId}}.html" target="_blank">{{article.title}}</a>
						</div>
						<div id="text-block-content">
							<p>{{topicList[$index].content}}</p>
						</div>
						<div id="text-block-user">
							<a href="/#/userInfo/{{article.userId}}" target="_blank"><img class="article-img-circle" ng-src="{{article.authorAvatar}}" /></a>
							<a class="blackFont" target="_blank" href="/#/userInfo/{{article.userId}}">{{article.author}}</a>
							<div ng-if="article.authorType==1" style="width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px no-repeat"></div>
						</div>
						<div id="text-block-label">
							<ul>
								<li ng-if="article.readCount<=99999"><img src="images/secondEdition/icon_view.png" />{{article.readCount}}</li>
								<li ng-if="article.readCount>99999"><img src="images/secondEdition/icon_view.png" />99999+</li>

								<li><img src="images/secondEdition/icon_Comment.png" />{{article.discussCount}}</li>

								<li ng-if="article.praiseCount>999"><img src="images/secondEdition/icon_Like.png" />999+</li>
								<li ng-if="article.praiseCount<=999"><img src="images/secondEdition/icon_Like.png" />{{article.praiseCount}}</li>

							</ul>
						</div>
					</div>
				</div>

			</div>

			<div ng-controller="HoverController">
				<div class="hover-tip-qr hidden-sl" style="position: fixed; margin-right: 20px" id="hover-qr">
					<img src="images/secondEdition/qr.jpg" style="width: 200px; height: 200px; margin-bottom: 5px; float: right;">
				</div>
				<!--我是悬浮框-->
				<div class="hover-tip hidden-sl " style="position: fixed; margin-right: 20px">
					<img src="images/secondEdition/btn_code_1.png" id="hoverImage" style="float: right;"> <img src="images/secondEdition/btn_Top_1.png" id="hoverTop" style="margin-top: 5px; float: right;">
				</div>
			</div>

			<!--<div style="clear: both"/>-->
			<!--我是分页尾巴-->
			<!--<tm-pagination-sl conf="topicPaginationConf"></tm-pagination-sl>
                <tm-pagination-ml conf="topicPaginationConf"></tm-pagination-ml>-->
			<div class="pageTailer-gl  visible-gl-inline-block">
				<tm-pagination-gl conf="topicPaginationConf"></tm-pagination-gl>
			</div>
			<div class="pageHeader  visible-ml-inline-block" style="margin-bottom: 0px">
				<tm-pagination-gl conf="topicPaginationConf"></tm-pagination-gl>
			</div>
			<div class="visible-ml-inline-block" style="width: 100%; height: 30px; background-color: #f2f2f2">
			</div>

			<div class="pageHeader-sl  visible-sl-inline-block">
				<tm-pagination-gl conf="topicPaginationConf"></tm-pagination-gl>
			</div>

			<!--热门短贴-->
			<div id="hot-msg">
				<div id="hot-msg-top">
					<div id="hot-msg-title">大家正在哔哔</div>
					<div id="hot-msg-right">
						<!--<input class="btn btn-default" style="background-color: #c8cccd;height: 22px;padding: 0px"
                                   type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;更多&nbsp;&nbsp;&nbsp;&nbsp;">-->

						<a ng-click="hotPage(1)" ng-if="!ifBlue(1)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifBlue(1)">
							<img ng-src="images/secondEdition/P_2.png">
						</a>
						<a ng-click="hotPage(2)" ng-if="!ifBlue(2)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifBlue(2)">
							<img ng-src="images/secondEdition/P_2.png">
						</a>
						<a ng-click="hotPage(3)" ng-if="!ifBlue(3)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifBlue(3)">
							<img ng-src="images/secondEdition/P_2.png">
						</a>
						<a ng-click="hotPage(4)" ng-if="!ifBlue(4)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifBlue(4)">
							<img ng-src="images/secondEdition/P_2.png">
						</a>
						<a ng-click="hotPage(5)" ng-if="!ifBlue(5)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifBlue(5)">
							<img ng-src="images/secondEdition/P_2.png">
						</a>

					</div>
				</div>
				<div id="hot-msg-container">

					<div id="hot-msg-container-box" ng-repeat="item in weekList track by $index">
						<div id="hot-msg-container-avatar">
							<a href="/#/userInfo/{{item.userId}}" target="_blank"><img class="article-img-circle hot-msg-avatar" ng-src="{{item.avatar}}" /></a>

							<!--1是橙色 代表个人-->
							<div ng-if="recomUser.userType==1" style="bottom: 0px; left: 0px; width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px no-repeat"></div>
							<!--2是绿色 代表机构-->
							<div ng-if="recomUser.userType==2" style="bottom: 0px; left: 0px; width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px top -38px no-repeat" class="ng-scope"></div>
							<!--3是蓝色  代表公司-->
							<div ng-if="recomUser.userType==3" style="bottom: 0px; left: 0px; width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px top -19px no-repeat" class="ng-scope"></div>
							<!--4是紫色 代表IR-->
							<div ng-if="recomUser.userType==4" style="bottom: 0px; left: 0px; width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px top -57px no-repeat" class="ng-scope"></div>

						</div>
						<div id="hot-msg-container-content" ng-if="!$last">
							<div id="hot-msg-container-content-label">
								<div id="hot-msg-container-content-user">
									<a href="/#/userInfo/{{item.userId}}" target="_blank">{{item.nickname}}</a>
								</div>
								<div id="hot-msg-container-content-timer">{{item.publishTimeLoc}}</div>
							</div>
							<div id="hot-msg-container-content-text" class="bb-text" href="{{item.postId}}" ng-click="viewDetail(item.postId)">
								<a href="javascript:;" style="color: #333333;">{{item.summary}}</a>
								<img src="../images/secondEdition/icon_Goto.png" />
							</div>
						</div>

						<div id="hot-msg-container-content"  ng-if="$last" style="border-bottom: none">
							<div id="hot-msg-container-content-label">
								<div id="hot-msg-container-content-user">
									<a href="/#/userInfo/{{item.userId}}" target="_blank">{{item.nickname}}</a>
								</div>
								<div id="hot-msg-container-content-timer">{{item.publishTimeLoc}}</div>
							</div>
							<div id="hot-msg-container-content-text" class="bb-text" href="{{item.postId}}" ng-click="viewDetail(item.postId)">
								<a href="javascript:;" style="color: #333333;">{{item.summary}}</a>
								<img src="../images/secondEdition/icon_Goto.png" />
							</div>
						</div>
					</div>

				</div>

			</div>

			<!--推荐用户-->
			<div id="hot-user">
				<div id="hot-msg-top">
					<div id="hot-msg-title">推荐用户</div>
					<div id="hot-msg-right">
						<input class="btn btn-default" style="background-color: #c8cccd; color: #fff; height: 22px; padding: 0px 10px" type="submit" value="更多" ng-click="viewMore()">

					</div>
				</div>
				<div id="hot-msg-container">
					<div id="hot-msg-container-user" ng-repeat="recomUser in recommendUserList track by $index">
						<!--userId-->
						<a  href="/#/userInfo/{{recomUser.userId}}" target="_blank"> <img class="index-img-circle" ng-src="{{recomUser.avatar}}" />
							<br>
						</a> <span><a href="/#/userInfo/{{recomUser.userId}}"
							target="_blank">{{recomUser.nickname}}</a></span>
						<br>

						<!--1是橙色 代表个人-->
						<div ng-if="recomUser.userType==1" style="bottom: 60px; left: 100px; position: absolute; width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px no-repeat"></div>
						<!--2是绿色 代表机构-->
						<div ng-if="recomUser.userType==2" style="bottom: 60px; left: 100px; position: absolute; width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px top -38px no-repeat" class="ng-scope"></div>
						<!--3是蓝色  代表公司-->
						<div ng-if="recomUser.userType==3" style="bottom: 60px; left: 100px; position: absolute; width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px top -19px no-repeat" class="ng-scope"></div>
						<!--4是紫色 代表IR-->
						<div ng-if="recomUser.userType==4" style="bottom: 60px; left: 100px; position: absolute; width: 25px; height: 19px; background: url('images/secondEdition/Authentication.png') left 0px top -57px no-repeat" class="ng-scope"></div>

						<span class="hot_user_span_tag">发表:{{recomUser.userArticles}}
							粉丝:{{recomUser.userFollow}}</span>
					</div>
				</div>

			</div>

			<!--股票板块-->
			<!--中屏消失-->
			<div class="hot-market media_hot_market">
				<!--大盘指数-->
				<div market-data-beta></div>

				<div id="hot-stock" ng-controller="HotStockController">
					<div id="hot-stock-top">
						<span></span> <span class="hot-stock-top-right"> <!-- <input class="btn btn-default" style="background-color: #c8cccd;height: 22px;padding: 0px"
		                                           type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;更多&nbsp;&nbsp;&nbsp;&nbsp;">-->
						</span>
					</div>
					<div id="hot-stock-container">
						<div id="hot-stock-container-sub" ng-repeat="hotStock in hotStocksub track by $index" ng-class="{hot_stock_container_sub_border:$index==1 || $index==0}">

							<span class="stock_hot_span_title"><a
								href="/#/stockDetail/{{hotStock.stockType}}{{hotStock.stockCode}}">{{hotStock.stockName}}</a></span></br>
							<span class="stock_hot_span_title_code">({{hotStock.stockType}}:{{hotStock.stockCode}})</span></br>
							<span ng-class="{stock_hot_span_value_red:hotStock.change>=0}" class="stock_hot_span_value_green">{{hotStock.price}}</span> <span ng-class="{stock_hot_span_value_red:hotStock.change>=0}" class="stock_hot_span_value_green">{{hotStock.change}}</span>							<span ng-class="{stock_hot_span_value_red:hotStock.change>=0}" class="stock_hot_span_value_green">{{hotStock.netChange}}%</span>
						</div>

					</div>
					<div id="hot-stock-page">
						<a ng-click="changehotStock(1)" ng-if="!ifStockBlue(1)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifStockBlue(1)"> <img ng-src="images/secondEdition/P_2.png"></a>
						<a ng-click="changehotStock(2)" ng-if="!ifStockBlue(2)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifStockBlue(2)"> <img ng-src="images/secondEdition/P_2.png"></a>
						<a ng-click="changehotStock(3)" ng-if="!ifStockBlue(3)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifStockBlue(3)"> <img ng-src="images/secondEdition/P_2.png"></a>
						<a ng-click="changehotStock(4)" ng-if="!ifStockBlue(4)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifStockBlue(4)"> <img ng-src="images/secondEdition/P_2.png"></a>
						<a ng-click="changehotStock(5)" ng-if="!ifStockBlue(5)"><img ng-src="images/secondEdition/P_1.png"></a>
						<a ng-if="ifStockBlue(5)"> <img ng-src="images/secondEdition/P_2.png"></a>
					</div>

				</div>
			</div>

		</main>

		<!--底部声明-->
		<div class="row" style="padding: 0px">
			<div id="annoucement">温馨提示：格隆汇里任何用户或者嘉宾的发言，都有其特定立场，投资决策需要建立在独立思考之上。</div>
		</div>

	</div>
	<!--内容页结束-->
</div>

</div>