<link rel="stylesheet" href="../styles/register.css">

<div class="container" style="margin-top: 120px;margin-bottom: 100px">
    <div class="main-content" ng-controller="IntroductionController">
    <div class="content">
        <div class="menuTab">
            <ul>
                <li class="current-tab">关于格隆汇</li>
            </ul>
        </div>
        <div class="form-content">
        	<div class="companyIntro">
	        	<div>
					<h5><b>公司介绍：</b></h5>
	        	</div>
	        	<div>
					    格隆汇是格隆汇科技发展（深圳）有限公司旗下专业定位为服务中国人海外投资的社交平台，以互联网众筹研究的方式，为所有中国人进行海外证券投资提供资讯、研究、交易、社交等全方位的服务。目前业务范围主要涉及港股与美股两大市场，未来将陆续开通台湾、日本、印度、欧洲等市场。
	        	</div>
	        	<br>
	        	<div>
	        		借助中国资本市场开放、人民币国际化、中国资本输出与民间海外投资需求爆发，以及沪港通等东风，格隆汇现已成为国内最权威的众筹式海外（尤其港股）投资研究交流平台。
	        		如今，格隆汇已覆盖了包括社交网站、APP、微信、微博等几乎所有的互联网应用形态，
	        		拥有遍布全球五十多个国家的庞大且优质的精英会员群体，且该群体仍保持高速增长中。如今的格隆汇已然成为华文世界最权威的海外社交投研平台。在国内的港股投研领域，格隆汇的用户数和影响力也处于遥遥领先的优势地位。
	        	</div>
	        	<br>
	        	<div>
	        		未来我们将致力于为投资者提供一站式海外投资服务，成为中文世界里领先的互联网金融服务商，力争把格隆汇打造成16亿海内外中国人海外投资的不二选择。
	        	</div>
				<div class="lineSeptal">
					<h5><b>核心产品：</b></h5>
				</div>
				<div>
					我们致力于提供一站式个性化的海外投资服务，通过提供最快速高效的投资资讯、最专业深度的研究报告、最便捷实惠的交易渠道，满足广大投资者在解读资讯、互动交流、投资交易等各方面的需求。
				</div>
				<br>
				<div>
					<ul>
						<li>
							投资者可通过以下渠道获得格隆汇的相关服务:
						</li>
						<li>
							格隆汇社交网站：www.gelonghui.com
						</li>
						<li>
							格隆汇微信公众号：“港股那点事”（hkstocks）、“格隆汇”（hkguruclub）
						</li>
						<li>
							格隆汇APP：登陆Apple store、腾讯应用宝、豌豆荚、360手机助手等平台，搜索“格隆汇”，即可下载使用
						</li>
						<li>
							格隆汇新浪官方微博：@格隆汇
						</li>
					</ul>
				</div>
        	</div>
        </div>
    </div>
</div>
</div>