<link rel="stylesheet" href="../styles/register.css">
<div class="container" style="margin-top: 120px;margin-bottom: 100px">
    <div class="main-content">
    <div class="title">
        <label class="skipLabel"> </label>
    </div>
    <div class="content">
        <div class="menuTab">
            <ul>
                <li class="current-tab">免责声明</li>
            </ul>
        </div>
        <div class="form-content">
            深圳格隆汇信息科技有限公司、格隆汇科技发展(深圳)有限公司、香港电资讯国际有限公司、香港交易所资讯服务有限公司、其控股公司及／或该等控股公司的任何附属公司均竭力确保所提供信息的准确和可靠度，
            但不能保证其绝对准确和可靠，且亦不会承担因任何不准确或遗漏而引起的任何损失或损害的责任（不管是否侵权法下的责任或合约责任又或其它责任）
        </div>
    </div>
</div>
</div>