<link rel="stylesheet" href="../styles/register.css">
<div class="main-content" ng-controller="SuccessController">
    <div class="content" style="margin-bottom: 120px;">
        <div class="center-el">
            <div class="logo-ok"><img src="images/big_ok.png"></div>

            <div class="active-info">{{messageInfo}}</div>
            <div class="btn-split-height" ng-show="showLogin"><input type="button" value="登录格隆汇" class="btn-green" ng-click="login()"></div>
        </div>
    </div>
</div>