<link rel="stylesheet" href="styles/tmPagination.css">
<link rel="stylesheet" href="styles/modal.css">
<link rel="stylesheet" href="styles/at-user.css">
<link rel="stylesheet" href="styles/user-editor.css">
<link rel="stylesheet" href="styles/user-home.css">
<link rel="stylesheet" href="styles/text-editor.css"/>
<link rel="stylesheet" href="styles/message-editor.css">
<div class="container" style="margin-top: 100px;margin-bottom: 80px">
    <div ng-controller="UserMessageController" >
        <div class="left-box">
            <div market-data></div>
            <user-dashboard current-tab="userMessage"></user-dashboard>
            <div class="pull-left center-box">
                <div class="line-tab">
                    <ul>
                        <li ng-click="setContentTab(0)" ng-class="{0: 'current-tab',1: ''}[active]">收到私信</li>
                        <li ng-click="setContentTab(1)" ng-class="{0: '', 1: 'current-tab'}[active]">发送私信</li>
                    </ul>
                </div>
                <div class="content-list" ng-if="active ==0">
                    <waiting wait-text="正在加载数据,请稍后……" ng-show="!isMessagedLoaded"></waiting>
                    <div ng-if="messages.length==0&&isMessagedLoaded" class="no-data-list" ng-bind="errMessage"></div>
                    <div class="list-row-avatar" ng-repeat="item in messages">
                        <div class="img-el">
                            <img alt="" ng-src="{{item.avatar}}" class="commentAvatar"
                                 ng-click="openUser(item.sendFrom)" style="cursor: pointer">
                        </div>
                        <div class="content-main">
                            <div class="content-nick">
                                    <span>
                                        <a class="nickImg" user-popover user-Nick="{{item.nick}}">{{item.nick}}</a>发送给你
                                    </span>
                                <img ng-src="images/vip.png" class="vipImg" ng-show="item.userType"/>
                            </div>
                            <div class="content-summary">
                                <span content-html bind-html="{{item.content}}"></span>
                            </div>
                            <div>
                                <div class="publish-time">
                                    <span>{{item.publishTimeLoc}}</span>
                                </div>
                                <div class="content-bar">
                                    <!-- <div class="bar-right"><span ng-click="reply($event,item.post.postId,item.userId)">回复</span> -->
                                    <div class="bar-right"><span ng-click="openMsgDialog(item)">回复</span>
                                    </div>
                                </div>
                                <!-- <user-editor show="false" show-action="['@','$']" post-type="回复"></user-editor> -->
                            </div>
                        </div>
                    </div>
                    <tm-pagination conf="recieMsgPaginationConf"></tm-pagination>
                </div>
                <div class="content-list" ng-if="active ==1">
                    <waiting wait-text="正在加载数据,请稍后……" ng-show="!isSendMessagedLoaded"></waiting>
                    <div ng-if="sendMessages.length==0&&isSendMessagedLoaded" class="no-data-list"
                         ng-bind="errSendMessage"></div>
                    <div class="list-row-avatar" ng-repeat="item in sendMessages">
                        <div class="img-el">
                            <img alt="" ng-src="{{item.avatar}}" class="commentAvatar"
                                 ng-click="openUser(item.sendFrom)" style="cursor: pointer">
                        </div>
                        <div class="content-main">
                            <div class="content-nick">
                                    <span>
                                        你发送给&nbsp;<a class="nickImg" user-popover user-Nick="{{item.nick}}">{{item.nick}}</a>
                                    </span>
                                <img src="../images/vip.png" class="vipImg" ng-show="item.userType"/>
                            </div>
                            <div class="content-summary">
                                <span content-html bind-html="{{item.content}}"></span>
                            </div>
                            <div>
                                <div class="publish-time">
                                    <span>{{item.publishTimeLoc}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <tm-pagination conf="sendMsgPaginationConf"></tm-pagination>
                </div>
            </div>
        </div>
        <div>
            <message-editor show="showMsgDialog" touserid="userInfo.toUserId" tousername="userInfo.toNickName" fromuserid="userInfo.fromUserId"></message-editor>
            <at-user show="showAtDialog" nickname="atUserNickname"></at-user>
        </div>
    </div>
    <div class="right-bar">
        <div app-banner></div>
        <hot-read day-active="true"></hot-read>
    </div>

</div>