.stockpage-wrap .stock-bg {
	width: 100%;
	padding-top: 80px;
	background-color: #fff;
}
#stockInfoWrap {
	width: 1000px;
	margin: 50px auto 0;
}
#stockInfoWrap .stock-info {
	display: inline-block;
	vertical-align: top;
}
#stockInfoWrap .stock-info h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
#stockInfoWrap .stock-info p {
	font-size: 12px;
	color: #999;
}
#stockInfoWrap .stock-info button {
	width: 117px;
	height: 32px;
	margin-top: 85px;
	border-radius: 4px;
	margin-right: 10px;
	border: 0;
	color: #fff;
	outline: none;
}
#addUserStock {
	background-color: #f74;
}
#trade {
	background-color: #ebd7b3;
}
.stockpage-wrap .stock-data {
	display: inline-block;
	width: 600px;
	margin-left: 130px;
	position: relative;
}
.stockpage-wrap .stock-data > img {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.stockpage-wrap .stock-table {
	margin-bottom: 35px;
}
.stockpage-wrap .stock-table span {
	width: 190px;
	color: #999;
	display: inline-block;
}
.stockpage-wrap .stock-data span.font_red {
	font-size: 20px;
	font-weight: bold;
	color: #ff6057;
}
.stockpage-wrap .stock-data span.font_green {
	font-size: 20px;
	font-weight: bold;
	color: #8fc31f;
}
#stockDetail {
	/*margin-top: 35px;*/
	margin-bottom: 0;
	color: #666;
	display: inline;
}
#stockDetail div {
	display: inline;
}
#stockDetail li {
	display: inline-block;
	width: 120px;
}
.stockpage-wrap .stock-data > p {
	margin: 30px 0;
	color: #d8d8d8;
}
/*dropdown*/
.tabcolumn {
	position: relative;
}
.tabcolumn .i-want {
	position: absolute;
	top: 12px;
	right: 0;
}
.tabcolumn button {
	height: 34px;
	padding-left: 0;
	padding-right: 30px;
	transition: all .5s;
}
.tabcolumn .btn-primary:hover,
 .tabcolumn .btn-primary:focus {
	background-color: #0088c3;
	border-color: #0088c3;
}
.tabcolumn button img {
	height: 80%;
}

/*tabs*/
#tab-nav {
	border-top: 1px solid #f2f2f2;
}
#tab-nav li {
	display: inline-block;
	background-color: #fff;
	padding: 17px 25px;
	border-bottom: 2px solid #fff;
	cursor: pointer;
}
#tab-nav li.current-tab {
	border-bottom: 2px solid #22aee6;
}
#tab-nav li:hover a {
	color: #22aee6;
}
/*#tab-nav li.active a {
	color: #22aee6;
}*/
#tab-nav a {
	font-size: 14px;
	color: #999;
}

/*tab content*/
.tab-wrap {
	background-color: #fff;
	border-radius: 4px;
	width: 1000px;
	margin: 30px auto;
}
#myTabContent {
	padding: 0 48px;
}
#myTabContent .tabdiv {
	display: none;
}
#myTabContent .tabdiv.active {
	display: block;
}
/*精华*/
.elite-list .list-row-avatar .img-el {
	margin-top: 30px;
	text-align: center;
	width: 8%;
}
.elite-list .list-row-avatar .content-main {
	margin-top: 30px;
}
.elite-list .publish-time {
	float: none;
	display: inline-block;
	font-size: 12px;
}
.elite-list .content-nick a {
	color: #333;
}
.elite-list .content-bar a,
.content-list a {
	color: #22aee6;
}
.elite-list .content-nick a:hover,
.elite-list .content-bar a:hover,
.content-list a:hover {
	text-decoration: none;
}
.content-html a {
	color: #22aee6;
}
.elite-list .content-nick span {
	margin-right: 0;
	vertical-align: 0px;
}
.elite-list .content-nick .publish-time {
	margin-left: 15px;
}
.elite-list .content-bar .bar-right a {
	margin: 0;
}
.elite-list .content-bar {
	width: auto;
	float: none;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 10px;
}
.elite-list .statistics {
	margin-top: 25px;
	color: #999;
	font-size: 12px;
}
.elite-list .statistics span {
	margin-left: 5px;
	line-height: 20px;
}
/*公告*/
.notice-list .publish-time {
	float: right;
	width: auto;
	padding-right: 10px;
}
#noticeList {
	padding: 1px 18px;
}
#noticeList .list-sig {
	display: inline-block;
	vertical-align: 14px;
	margin-right: 10px;
	width: 1%;
}
#noticeList .list-sig span {
	display: block;
	width: 8px;
	height: 8px;
	background-color: #d5dde1;
}
#noticeList .content-main {
	display: inline-block;
	width: 96%;
	padding-bottom: 20px;
}

.waiting > .center_waiting {
	padding-top: 100px;
}
.send-diy {
	background-color: #22aee6;
    height: 30px;
    width: 125px;
    padding: 0px;
    margin-top: 10px;
}
.no-data-list {
	font-size: 14px;
	color: #999;
	padding: 18px 0;
}
.view-button {
	text-align: center;
}
.view-button .view-more, .view-button  .no-more {
	width: 160px;
	height: 25px;
	border-radius: 4px;
	color: #fff;
	margin: 30px auto 20px;
	border: 0;
}
.view-button .view-more {
	background-color: #d5dde1;
}
.view-button .no-more {
	background-color: #999;
}










