<div>
    <div>
        <div class="pull-left "><a ng-href="https://itunes.apple.com/app/id923859358" class="btn-gray mobile"><img src="images/ios.png">苹果App</a></div>
        <div class="pull-right"><a ng-href="http://a.app.qq.com/o/simple.jsp?pkgname=com.gelonghui.glhapp" class="btn-green mobile"><img src="images/android.png">安卓App</a></div>
    </div>
    <div class="clearfix"></div>
    <div class="wchart">扫描关注格隆汇微信公众号</div>
    <div class="bcode"><img src="images/wechat_rq_code.jpg" style="width:320px;height:320px" /></div>
</div>

