<script src="scripts/vendor/highCharts/highcharts.js"></script>
<script src="scripts/vendor/highCharts/highcharts-more.js"></script>
<script src="styles/f10.css"></script>

<script type="text/javascript">

   /* function MyCtrl($scope, limitToFilter) {

        $scope.ideas = [
            ['ideas1', 1],
            ['ideas2', 8],
            ['ideas3', 5]
        ];

        $scope.limitedIdeas = limitToFilter($scope.ideas, 2);
    }
*/
</script>
   

<div id="pie-equity" ><div chart-equity/></div>

<!--<div style="clear:both;"/>-->
<!--<div id="pie-box">-->
    <!--<div id="pie-asset" style="width:50%;float: left;"><div chart-asset/></div>-->
    <!--<div id="pie-debt" style="width:50%; float:right"><div chart-debt /></div>-->
<!--</div>--> 



<div style="clear:both;"/>
<div id="pillar-income" ><div chart-income /></div>

<div id="pillar-profit" ><div chart-profit /></div>

<div id="pillar-ratio" ><div chart-ratio/></div>

<div id="line-roa" ><div chart-roa /></div>


<div id="pillar-cash" ><div chart-cash /></div>
