<!DOCTYPE html >
<head>
    <meta charset="utf-8">
    <title>格隆汇--港股那点事</title>
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/x-icon" href="http://res.gelonghui.com/images/icon114.png" media="screen"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/layout.css">


    <style type="text/css">
        /* 当浏览器的可视区域大于1200px */
        @media screen and (min-width: 1200px) {
            #header {
                width: 1150px;
            }
            #header .container{
                width: 1150px;
            }
            #wrapper  {
                margin-top: 80px;
            }
            #wrapper .container {
                width: 1150px;
            }
        }

        /* 当浏览器的可视区域小于1200px */
        @media screen and (max-width: 1200px) {
            #header {
                min-width: 100%;
            }
            #wrapper  {
                margin-top: 80px;
            }
            #wrapper .container {
                width: auto;
            }
        }

        /*当浏览器的可视区域小于960px */
        @media screen and (max-width: 960px) {
            #header {
                display: none;
            }
            #wrapper  {
               margin-top: -40px;
            }
            #wrapper .container {
                width: 100%;
            }
        }

        .protocal {
            width: 100%;
            line-height: 25px;
        }

        .protocal .title {
            font-weight: bolder;
            font-size: 24px;
            margin-top: 60px;
        }

        .protocal ul li {
            margin-top: 5px;
        }

        .protocal ul li span {
            width: 25px;
            text-align: center;
            display: inline-block;
        }
    </style>
</head>

<body>
<header id="header">
    <div class="fix_header">
        <div class="" ng-style="headerHeight">
            <div class="logo pull-left" style="margin-left: 50px;">
                <a href="/#/"> <img src="../images/logo.png"/>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="container" style="margin-top: 100px;">
    <div align="center" style="width: 900px;margin-left:auto; margin-right:auto;">
        <div class="protocal" align="left">
            <div align="center" class="title">
                格隆汇服务协议及免责声明
            </div>
            <ul style="list-style:none;">
                <li style="margin-top: 20px;">
                    <b><span>1.</span>特别提示</b></br>
                </li>
                <li style="margin-left: 25px;">
                    欢迎申请使用深圳格隆汇信息科技有限公司旗下格隆汇（包括网站、手机应用等多平台）提供的服务。请服务使用人（以下称“用户”）仔细阅读以下全部内容。
                    如用户不同意本服务协议任意内容，请不要注册或使用格隆汇网络服务。如用户通过进入注册程序，即表示用户与格隆汇达成协议，自愿接受本服务协议的所有内容。
                    此后，用户不得以未阅读本服务协议内容作任何形式的抗辩。用户注册成功后，格隆汇将给予每个用户一个用户帐号及相应的密码，该用户帐号和密码由用户自行负责保管；
                    用户应当对以其用户帐号进行的所有活动和事件负法律责任。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>2.</span>服务内容</b>
                </li>
                <li style="margin-left: 25px;">
                    (1)
                    格隆汇服务的具体内容由深圳格隆汇信息科技有限公司根据实际情况提供，例如行业及公司研究资讯、新闻资讯、论坛、日记、博客、微博、评论、股票行情、公司信息等。格隆汇并不承诺服务在开始、变更或者结束时，均事先知会用户。
                </li>
                <li style="margin-left: 25px;">
                    (2) 格隆汇仅提供相关的互联网服务，用户必须自行负责上网设备，如个人电脑、手机或其他上网设备，以及自行解决互联网接入和支付与此服务有关的费用。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>3.</span>服务协议变更</b>
                </li>
                <li style="margin-left: 25px;">
                    深圳格隆汇信息科技有限公司在必要时通过在网页上发出公告等合理方式修改本服务协议以及各单项服务的相关协议。用户在享受各项服务时，应当及时查阅了解修改的内容，并自觉遵守本服务协议以及该单项服务的相关协议。
                    用户如继续使用本服务协议涉及的服务，则视为对修改内容的同意；用户在不同意修改内容的情况下，有权停止使用本服务协议涉及的服务。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>4.</span>服务变更、中断或终止</b>
                </li>
                <li style="margin-left: 25px;">
                    鉴于互联网服务的特殊性，用户同意格隆汇有权随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。如变更、中断或终止的网络服务，格隆汇无需通知用户，也无需对任何用户或任何第三方承担任何责任。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>5.</span>用户资料合法性和真实性</b>
                </li>
                <li style="margin-left: 25px;">
                    考虑到格隆汇产品服务的重要性，用户同意：
                </li>
                <li style="margin-left: 25px;">
                    (1) 提供及时、详尽及准确的个人资料。
                </li>
                <li style="margin-left: 25px;">
                    (2) 不断更新自己的注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。
                </li>
                <li style="margin-left: 25px;">
                    (3) 不冒用他人资料（包括不限于姓名、图片、公司机构名称、昵称等）如果用户提供的资料不准确，不真实，不合法有效，或者冒用他人资料，格隆汇保留直接修改资料或者结束用户使用格隆汇各项服务的权利。
                    用户同意，用户提供的准确的个人资料作为认定用户与帐号的关联性以及用户身份的唯一证据。用户在享用各项服务的同时，同意接受格隆汇提供的各类信息服务。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>6.</span>隐私保护</b>
                </li>
                <li style="margin-left: 25px;">
                    保护用户隐私是格隆汇的基本政策，非经用户许可，格隆汇保证不对外公开或向第三方提供单个用户的注册资料及用户在使用网络服务时存储在格隆汇的非公开内容，但下列情况除外：
                </li>
                <li style="margin-left: 25px;">
                    (1) 遵守有关法律、法规的规定，包括在国家有关机关查询时，提供用户的注册信息、用户在格隆汇的网页上发布的信息内容及其发布时间、互联网地址或者域名。
                </li>
                <li style="margin-left: 25px;">
                    (2) 保持维护格隆汇的知识产权和其他重要权利。
                </li>
                <li style="margin-left: 25px;">
                    (3) 在紧急情况下竭力维护用户个人和社会大众的隐私安全。
                </li>
                <li style="margin-left: 25px;">
                    (4) 根据本协议相关规定或者格隆汇认为必要的其他情况下。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>7.</span>免责声明</b>
                </li>
                <li style="margin-left: 25px;">
                    (1) 用户明确同意其使用格隆汇服务所存在的风险将完全由其自己承担；因其使用格隆汇服务而产生的一切后果也由其自己承担，格隆汇对用户不承担任何责任。
                </li>
                <li style="margin-left: 25px;">
                    (2)
                    格隆汇所提供的任何信息（包括但不限于格隆汇官方提供的、格隆汇用户发布的、格隆汇邀请的嘉宾提供的），格隆汇并不能保证其完全实时或完全准确，也不表明格隆汇证实其描述或赞同其观点。所有内容仅供参考，不构成投资建议或者其他实际的操作意见，用户据此操作所造成的后果自行负责。
                </li>
                <li style="margin-left: 25px;">
                    (3) 格隆汇不保证服务一定能满足用户的要求，也不保证服务不会中断，对服务的及时性、安全性、准确性也都不作保证。对于各种原因造成的网络服务中断、资料丢失、数据损毁或其他缺陷，格隆汇不承担任何责任。
                </li>
                <li style="margin-left: 25px;">
                    (4) 用户明确同意使用格隆汇的风险由用户个人承担。对于所有的用户注册资料、姓名、身份、发言内容以及其他行为，格隆汇拒绝提供任何担保。
                </li>
                <li style="margin-left: 25px;">
                    (5) 用户知晓并且同意，对于格隆汇因为计算机系统、网络安全等问题，而导致用户资料意外泄漏，格隆汇并不对此负责。除非用户能证明，该泄漏是由于格隆汇的故意行为。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>8.</span>内容的所有权</b>
                </li>
                <li style="margin-left: 25px;">
                    (1) 内容的定义包括：文字、软件、声音、相片、视频、图表等。
                </li>
                <li style="margin-left: 25px;">
                    (2)
                    用户同意，其发布上传到格隆汇的任何内容，格隆汇获得其全世界范围内免费的、永久性的、不可撤销的、非独家的、完全许可的权利和许可。格隆汇有权将内容用于其他合法用途，包括但不限于部分或者全部地复制、修改、改编、翻译、组装、分拆、推广、分发、广播、表演、演绎、出版。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>9.</span>用户责任和义务</b>
                </li>
                <li style="margin-left: 25px;">
                    用户独立承担其发布内容相关的所有责任。用户对格隆汇服务的使用必须遵守所有适用于服务的地方法律、国家法律和国际法律。用户已经知晓并且承诺：
                </li>
                <li style="margin-left: 25px;">
                    (1) 用户在格隆汇的网页上发布信息或者利用格隆汇的服务时必须符合中国有关法律法规，不得在格隆汇的网页上或者利用格隆汇的服务制作、复制、发布、传播以下信息：
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;违反宪法确定的基本原则的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;损害国家荣誉和利益的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;煽动民族仇恨、民族歧视，破坏民族团结的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;破坏国家宗教政策，宣扬邪教和封建迷信的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;散布谣言，扰乱社会秩序，破坏社会稳定的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;侮辱或者诽谤他人，侵害他人合法权益的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;以非法民间组织名义活动的；
                </li>
                <li style="margin-left: 25px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;含有法律、行政法规禁止的其他内容的。
                </li>
                <li style="margin-left: 25px;">
                    (2) 用户在格隆汇的网页上发布信息或者利用格隆汇的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。
                </li>
                <li style="margin-left: 25px;">
                    (3) 用户发表在格隆汇上的任何内容，格隆汇可以根据自己标准和立场进行管理或者删除，而无需提前或者事后向用户说明；管理或者删除的标准，也完全由格隆汇独立制订，无需征求用户意见，也无需向用户公开。
                </li>
                <li style="margin-left: 25px;">
                    (4) 用户不得以任何方式干扰格隆汇的服务。
                </li>
                <li style="margin-left: 25px;">
                    (5) 用户应遵守格隆汇的所有其他规定和程序。
                </li>
                <li style="margin-left: 25px;">
                    (6)
                    用户须对自己在使用格隆汇服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在格隆汇首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予格隆汇等额的赔偿。
                </li>
                <li style="margin-left: 25px;">
                    (7) 用户理解，如果格隆汇发现其网站传输的信息明显属于上段第(1)条所列内容之一，依据中国法律，格隆汇有义务立即停止传输，保存有关记录，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。
                </li>
                <li style="margin-left: 25px;">
                    (8)
                    用户使用格隆汇电子公告服务，包括电子布告牌、电子白板、电子论坛、网络聊天室和留言板等以交互形式为上网用户提供信息发布条件的行为，也须遵守本条的规定。若用户的行为不符合以上提到的服务协议，格隆汇将作出独立判断立即取消用户服务帐号或者其他有必要的措施。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>10.</span>帐号的有效期限</b>
                </li>
                <li style="margin-left: 25px;">
                    用户在格隆汇注册的帐号，如果连续超过3个月没有登录，格隆汇有权删除用户的帐号，而无需另行通知。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>11.</span>通知和送达</b>
                </li>
                <li style="margin-left: 25px;">
                    用户知晓并且同意，格隆汇的各类通知，通过网页公告、系统通知、官方管理帐号通知（公开或者私下）、电子邮件或者常规信件进行，通知发出时，即被视为已送达收件人。
                    用户对格隆汇的通知，需要通过格隆汇正式公布的通信地址、传真号码、电子邮件地址等联系信息进行送达。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>12.</span>适用法律和管辖权</b>
                </li>
                <li style="margin-left: 25px;">
                    本协议适用中华人民共和国的法律，并且排除一切冲突法规定的适用。 如出现纠纷，用户和格隆汇一致同意将纠纷交由格隆汇所在地法院管辖。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>13.</span>解释权</b>
                </li>
                <li style="margin-left: 25px;">
                    在法律允许的最大范围内，格隆汇保留对本服务协议的最终解释权。
                </li>
                <li style="margin-top: 20px;">
                    <b><span>14.</span>修订时间</b>
                </li>
                <li style="margin-left: 25px;">
                    本协议最后修订时间：2015年5月28日
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
