<div>
	<modal width="588px" height="418px" show="show">
		<div class="sec-brokers-header">
            <ul class="header nav nav-tabs">
                <li class="active">
                    <img src="images/users.png" class="user-icon" />券商选择
                </li>
                <li></li>
            </ul>
        </div>
        <div class="brokers-content">
	        <ul class="brokers">
	        	<li>
	        		<a href="https://my.futu5.com/h5nn?channel=109&subchannel=1#/trade/{{stockCode}}" target="_blank">
	        			<img src="images/futu.png">
	        			<span>富途证券</span>
	        		</a>
	        	</li>
	        </ul>
        </div>
        <div class="description">
        	<!-- <p>证券公司加盟合作资历，应当经具有证券、期货相关业务资格的会计师事务所验资并出具证 明；出资中的非货币财产，应当经具有证券相关业。</p> -->
        </div>
	</modal>
</div>