<search-box-float></search-box-float>
<text-editor></text-editor>
<text-editor-beta></text-editor-beta>
<upload-pdf></upload-pdf>
<link rel="stylesheet" type="text/css" href="styles/secondEdition/stockPage.css"/>



<div class="stockpage-container" style="background-color: #f2f2f2;" ng-controller="stockPageController">

	<!--我是主内容页-->
	<div class="stockpage-wrap ">
		<!--个股信息-->
		<div class="stock-bg">
			<div id="stockInfoWrap">
				<div class="stock-info">
					<h3>酷派集团（HK:02369）</h3>
					<p>已收盘&nbsp;&nbsp;2015-10-27&nbsp;&nbsp;09:33:23&nbsp;&nbsp;(北京时间)</p>
					<button id="addUserStock">加入自选</button><button id="trade">交易</button>
				</div>
				<div class="stock-data">
					<img id="reload" src="images/secondEdition/reload.gif"/>
					<div class="stock-table">
						<span>最新价格</span><span>涨跌(%)</span> <br />
						<span class="ups">$1.6</span><span class="downs">+0.02(+1.27%)</span>
					</div>
					<ul id="stockDetail">
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
						<li>昨收：1.57</li>
					</ul>
					<p>@港股数据由电资讯国际有限公司提供（报价延迟15分钟）</p>
				</div>
				<!--tab标签-->
				<ul id="tab-nav">
					<li class="active"><a href="javascript:;" data-name="extract">精华</a></li>
					<li><a href="javascript:;" data-name="discuss">讨论</a></li>
					<li><a href="javascript:;" data-name="F10Tab">格隆汇F10</a></li>
					<li><a href="javascript:;" data-name="newsTab">公告</a></li>
				</ul>
			</div>
		</div> 
		<!--end 个股信息-->
	
		<!--我是tab页-->
		<div class="tab-wrap">
			<div id="myTabContent" class = "tab-content">
				<div class="tab1 tabdiv active" id="extract">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vel harum neque sed expedita nemo voluptas! Vitae assumenda dolore non ducimus accusantium quia molestiae dolor ab alias vel. Sint optio!
				</div>
				<div class="tab2 tabdiv" id="discuss">
					2222222222222
				</div>
				<div class="tab3 tabdiv" id="F10Tab">
					3333333333
				</div>
				<div class="tab4 tabdiv" id="newsTab">
					44444444444444
				</div>
			</div>
	
		</div>
		<!--tab页结束-->
		
		<!--底部声明-->
		<div class="row" style="padding: 0px">
			<div id="annoucement">温馨提示：格隆汇里任何用户或者嘉宾的发言，都有其特定立场，投资决策需要建立在独立思考之上。</div>
		</div>
	</div>

</div>
