<search-box-float></search-box-float>
<text-editor></text-editor>
<text-editor-beta></text-editor-beta>
<upload-pdf></upload-pdf>
<link rel="stylesheet" type="text/css" href="styles/secondEdition/stockPage.css"/>



<div class="stockpage-container" style="background-color: #f2f2f2;" ng-controller="stockPageController">

	<!--我是主内容页-->
	<div class="stockpage-wrap" ng-show="isBaseInfoLoaded">
		<!--个股信息-->
		<div class="stock-bg">
			<div id="stockInfoWrap">
				<div class="stock-info">
					<h3><span ng-bind="stockInfo.name">酷派集团</span><span ng-if="stockInfo.stockCodeExtShow">({{stockInfo.stockCodeExtShow}})</span></h3>
					<p>已收盘&nbsp;&nbsp;2015-10-27&nbsp;&nbsp;09:33:23&nbsp;&nbsp;(北京时间)</p>
					<button id="addUserStock">加入自选</button><button id="trade">交易</button>
				</div>
				<div class="stock-data">
					<img id="reload" src="images/secondEdition/reload.gif"/>
					<div class="stock-table">
						<span>最新价格</span><span>涨跌(%)</span> <br />
						<span ng-class="stockInfo.fontColor" ng-bind="stockInfo.price">$1.6</span>
						<span ng-class="stockInfo.fontColor" ng-bind="stockInfo.changeRate">+0.02(+1.27%)</span>
					</div>
					<ul id="stockDetail" ng-repeat="item in stockInfo.tradeInfo">
						<li ng-repeat="detail in item">
							<span ng-bind="detail.name"></span>:<span ng-bind="detail.value"></span>
						</li>
					</ul>
					<p>@港股数据由电资讯国际有限公司提供（报价延迟15分钟）</p>
				</div>
				<!--tab标签-->
				<div class="tabcolumn">
					<ul id="tab-nav">
						<!--<li class="active"><a href="javascript:;" data-name="extract">精华</a></li>
						<li><a href="javascript:;" data-name="discuss">讨论</a></li>
						<li><a href="javascript:;" data-name="F10Tab">格隆汇F10</a></li>
						<li><a href="javascript:;" data-name="newsTab">公告</a></li>-->
						<li ng-class="{'current-tab': currentTab == 'cream'}" ng-click="showTab('cream')">精华</li>
                        <li ng-class="{'current-tab': currentTab == 'post'}" ng-click="showTab('post')">讨论</li>
                         <!--<li ng-class="{'current-tab': currentTab == 'f10'}" ng-click="showTab('f10')">F10信息</li>-->
                        <li ng-class="{'current-tab': currentTab == 'notice'}" ng-click="showTab('notice')">公告</li>
					</ul>
					
					<div class="dropdown i-want">
						<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
							<span><img style="height: 80%; padding-left: 24px;" src="images/secondEdition/NAVicon_Write_2.png"></span> 
							<span style="padding-top: 0px;">&nbsp;我要发表</span>
						</button>
			
						<ul class="dropdown-menu i-want-post" aria-labelledby="dropdownMenu1">
							<li><a ng-click="showShortMsg()">哔哔一下</a></li>
							<li><a ng-click="showTextEditor()">发表文章</a></li>
							<li><a ng-click="showUploadPdf()">上传PDF</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div> 
		<!--end 个股信息-->
	
		<!--我是tab页-->
		<div class="tab-wrap" ng-switch on="currentTab">
			<!--<div id="myTabContent" class = "tab-content">
				<div class="tab1 tabdiv active" id="extract">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit vel harum neque sed expedita nemo voluptas! Vitae assumenda dolore non ducimus accusantium quia molestiae dolor ab alias vel. Sint optio!
				</div>
				<div class="tab2 tabdiv" id="discuss">
					2222222222222
				</div>
				<div class="tab3 tabdiv" id="F10Tab">
					3333333333
				</div>
				<div class="tab4 tabdiv" id="newsTab">
					44444444444444
				</div>
			</div>-->
			<div ng-switch-when="cream">
                <div ng-show="!isCreamLoaded">
                    <waiting wait-text="精华加载中,请稍候..." is-center="true"></waiting>
                </div>
                <div ng-if="creamList.length==0&&isCreamLoaded" class="no-data-list">暂时没有该股票相关的精华内容</div>
                <div class="content-list" ng-repeat="item in creamList">
                    <div class="list-row-avatar">
                        <div class="img-el">
                            <img alt="" ng-src="{{item.avatar}}" class="avator">
                        </div>
                        <div class="content-main">
                            <div class="content-nick">
                                <span><a user-popover user-Nick="{{item.nickname}}">{{item.nickname}}</a></span>
                                <img src="../images/vip.png" ng-show="item.userType"/></div>
                            <div ng-if="item.title" ng-click="postDetail(item.postId)" style="cursor: pointer">
                                <b><span>{{item.title}}</span></b>
                            </div>
                            <div class="content-summary">
                                <span content-html bind-html="{{item.summary|ellipsis:100}}"></span>
                            </div>
                            <div ng-if="item.file">
                                <a ng-href="{{item.file}}" target="_blank">查看PDF原文</a>
                            </div>
                            <div>
                                <div class="publish-time">
                                <span ng-bind="item.publishTimeLoc" ng-click="postDetail(item.postId)"
                                      style="cursor: pointer"></span>
                                </div>
                                <div class="content-bar">
                                    <div class="bar-right">
                                        <a ng-click="postDetail(item.postId)">查看详情</a>
                                         <a ng-click="reply($event,item.postId,item.userId)">评论</a>
                                        <a ng-click="likePost($event,item.postId)">赞</a>
                                        <a ng-click="favPost($event,item.postId)">收藏</a></div>
                                </div>
                            </div>
                            <user-editor show-action="['@','$']" show="false" post-type="回复"></user-editor>
                        </div>
                    </div>
                </div>
                <tm-pagination conf="paginationCreamConf"></tm-pagination>
            </div>
            
            <div ng-switch-when="post">
                <div ng-show="!isPostLoaded">
                    <waiting wait-text="帖子加载中,请稍候..." is-center="true"></waiting>
                </div>
                <div ng-if="postList.length==0&&isPostLoaded" class="no-data-list">暂时没有该股票相关的讨论</div>
                <div class="content-list" ng-repeat="item in postList">
                    <div class="list-row-avatar">
                        <div class="img-el">
                            <img alt="" ng-src="{{item.avatar}}" class="commentAvatar">
                        </div>
                        <div class="content-main">
                            <div class="content-nick">
                                <span><a user-popover user-Nick="{{item.nickname}}">{{item.nickname}}</a></span>
                                <img src="../images/vip.png" ng-show="item.userType"/></div>
                            <div ng-if="item.title" ng-click="postDetail(item.postId)" style="cursor: pointer">
                                <b><span>{{item.title}}</span></b>
                            </div>
                            <div class="content-summary">
                                <span content-html bind-html="{{item.summary|ellipsis:100}}"></span>
                            </div>
                            <div ng-if="item.fileName">
                                <a ng-href="{{item.file}}" target="_blank">{{item.fileName}}</a>
                            </div>
                            <div>
                                <div class="publish-time">
                                <span ng-bind="item.publishTimeLoc" ng-click="postDetail(item.postId)"
                                      style="cursor: pointer"></span>
                                </div>
                                <div class="content-bar">
                                    <div class="bar-right">
                                        <a ng-click="postDetail(item.postId)">查看详情</a>
                                         <a ng-click="reply($event,item.postId,item.userId)">评论</a>
                                        <a ng-click="likePost($event,item.postId)">赞</a>
                                        <a ng-click="favPost($event,item.postId)">收藏</a></div>
                                </div>
                            </div>
                            <user-editor show-action="['@','$']" show="false" post-type="回复"></user-editor>
                        </div>
                    </div>
                </div>
                <tm-pagination conf="paginationPostConf"></tm-pagination>
            </div>
            
            <div ng-switch-when="notice">
                <div ng-show="!isNoticeLoaded">
                    <waiting wait-text="公告加载中,请稍候..." is-center="true"></waiting>
                </div>
                <div ng-if="NoticeList.length==0&&isNoticeLoaded" class="no-data-list">暂时没有该股票相关的公告</div>
                <div class="content-list" ng-repeat="item in NoticeList">
                    <div class="list-row">
                        <div class="content-main">
                            <div>
                                <b><span>{{item.title}}</span></b>
                            </div>
                            <div class="content-summary" ng-if="item.fileType=='htm'||item.fileType=='html'">
                                <span class="original-label">原文地址：</span><a ng-href="{{item.fileUrl}}"
                                                                            target="_blank"
                                                                            ng-bind="item.fileUrl"></a>
                            </div>
                            <div ng-if="item.fileType=='pdf'">
                                <span class="original-label">PDF文件下载：</span><a ng-href="{{item.fileUrl}}"
                                                                               target="_blank">{{item.fileUrl}}</a>
                            </div>
                            <div style="cursor: pointer">
                                <div class="publish-time"><span ng-bind="item.publishTime | datetimeFormat"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <tm-pagination conf="paginationNoticeConf"></tm-pagination>
            </div>
	
		</div>
		<!--tab页结束-->
		
		<!--底部声明-->
		<div class="row" style="padding: 0px">
			<div id="annoucement">温馨提示：格隆汇里任何用户或者嘉宾的发言，都有其特定立场，投资决策需要建立在独立思考之上。</div>
		</div>
	</div>

</div>
