/*全局响应式布局*/
/* 当浏览器的可视区域大于1200px */
@media screen and (min-width: 1200px) {

    #wrapper .container .main > .content {
        width: 790px;
        float: left;
    }

    #wrapper .container .main > .right-bar {
        width: 315px;
        float: right;
    }
    
    #wrapper > .container .stock_price{
    	display:table;
    	width:100%;
    }
    
    #wrapper > .container .stock_price > *,
    #wrapper > .container .stock_price > :last-child{
    	width:20%;
    }

    .stock_price h2{
        font-size: 22px;
    }

}

/* 当浏览器的可视区域小于1200px */
@media screen and (max-width: 1200px) {    
    #banner .container .menu > ul > li{
    	margin-right: 50px;
    }
    
    #wrapper > .container .left-box > .center-box{
    	width:80%;
    	min-width:585px;
    }
    
    #wrapper > .container > .main > .content {
        float: left;
    }

    #wrapper .container .main > .right-bar {
    	display:none;
    }
    
    #wrapper > .container .left-box{
    	width:100%;
    }
    
    #wrapper > .container .stock_price{
    	display:table;
    	width:100%;
    }
    
    #wrapper > .container .stock_price > *,
    #wrapper > .container .stock_price > :last-child{
    	width:20%;
    }

    #wrapper > .container .stock_price h2{
        font-size: 14px;
    }
}

/* 当浏览器的可视区域小于960px */
@media screen and (max-width: 700px) {
	#wrapper > .container .stock_price > *{
    	width:33%;
    }	
}


/* 当浏览器的可视区域小于960px */
@media screen and (max-width: 960px) {
	
	#banner .container .menu > ul > li{
		margin-right:38px !important;
	}

    #wrapper .container .main > .content {
        width: 100%;
    }

    #wrapper .container .main > .right-bar {
        display: none;
    }

    .stock_price .category {
        width: 33%;
    }

    .stock_price .category_last {
        width: 33%;
    }

    .stock_price h2{
        font-size: 22px;
    }
}

@media screen and (max-width: 768px){
	#header > .fix_header >  .container > .logo{
    	margin-right:-10px;
    }
	
    #header > .fix_header > .container > .logo > a img{
    	width:55%;
    }
    
    #banner {
    	display:none;
    }
    
    #wrapper{
    	margin:65px auto;
    }
	
	.fix_header > .container > .navbar-form > .form-group > .form-control-feedback {
		line-height: 34px;
	}
}

/* 当浏览器的可视区域大于540px */

@media screen and (max-width: 540px) {
    #header .container {
        padding-left: 10px;
        padding-right: 10px;
        height: 44px;
    }
    
    .navbar-nav > .open > .dropdown-menu{
    	margin-top:-5px !important;
    }
    
    #header > .fix_header >  .container > .logo{
    	margin-right:-45px;
    }
    
    #header > .fix_header,
    #banner > .fix_banner{
    	position:relative;
    	height: 44px;    	
  		line-height: 44px;
    }
    #header .navbar-form{
        display: none;
    }
    #banner {
        width: 100%;
    }

    #banner .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #wrapper .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #footer .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #wrapper{
    	margin-top:0;
    }

    #wrapper .container .main > .content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #wrapper .container .main > .right-bar {
        display: none;
    }

    #wrapper > .container .stock_price > * {
        width: 50%;
    }

    #wrapper > .container .stock_price > .category_last {
        width: 100%;
    }

    .stock_price h2{
        font-size: 22px;
    }


}